.passwordTypes {
    text-rendering: auto;
    background-color: transparent;
    background-position: calc(100% - 12px);
    background-repeat: no-repeat;
    background-size: 1.563rem;
    border: 2px solid hsla(0,0%,100%,.2);
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: -.01rem;
    line-height: 1.5;
    outline: none;
    width: 100%;
};

/* not working */
.copied {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: blue;
    position: relative;
}

.notCopied {
    background-color: red;
    background-position: calc(100% - 12px);
}
