.generatedPassword {
    background-color: #fff;
    border-radius: 6px;
    color: #333;
    font-family: Courier Prime Bits,monospace;
    font-size: 1.625rem;
    letter-spacing: .156rem;
    line-height: 1.2;
    text-align: center;
    -webkit-user-select: text;
    user-select: text;
    width: 100%;
    word-break: break-all;
    margin-top: 5px;
}

.passwordLabel {
    font-size: 1rem;
    letter-spacing: -.0275rem;
    line-height: 1.2;
    display: block;
    text-align: left;
}
